@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fondo global ritualizado */
html, body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #e5e5e5; /* texto claro */
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  /* Fondo degradado manual */
  background-image: linear-gradient(to bottom, #171717, #000000);
  background-repeat: no-repeat;
  background-size: cover;
}